.parrafo {
  font: 16px/24px "IBM Plex Mono", monospace;
  color: #060a24;
}

.subtitulo {
  font: 48px/62px "IBM Plex Sans", sans-serif;
}

.button {
  font: 500 18px/24px "IBM Plex Mono", monospace;
  color: #060a24;
  background-color: #00f3bb;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  border: none;
  height: 56px;
  line-height: 56px;
}

.button:hover {
  background-image: linear-gradient(225deg, #0000ff 0%, #00f3bb 100%);
  color: white;
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: 0 0 6px 0px #01634c;
  transition: ease-out .35s;
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 36px;
  height: 36px;
  margin: 22px 100px;
}

.items-container {
  display: flex;
}

.items-container li {
  list-style: none;
  margin-top: 22px;
}

.items-container li:last-child {
  margin-right: 76px;
}

.items-container li a {
  font: 16px/28px "IBM Plex Mono", monospace;
  text-decoration: none;
  color: #060a24;
  margin: 0px 24px;
}

.items-container li a:hover {
  font: 500 16.2px;
  color: #00f3bb;
  text-decoration: line-through;
  transition: ease-out .35s;
}

.items-container li a:active {
  color: #060a24;
  text-decoration: line-through;
}

#s1-titulo {
  font: 400 64px/84px "IBM Plex Sans", sans-serif;
  color: #060a24;
  padding: 120px 0px 0px 13.9%;
}

#azul {
  color: #0000ff;
}

.s1-parrafo {
  padding-left: 13.9%;
}

.button-s1 {
  width: 226px;
  margin: 56px 0px 5px 13.9%;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .seccion1-general {
    display: flex;
    flex-direction: column;
  }
  #s1-titulo {
    padding-left: 0;
    margin: 0 auto;
  }
  .button-s1 {
    margin: 56px auto 5px auto;
  }
}

.s2-general {
  position: relative;
}

.clip-path {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  position: absolute;
}

.s2-subtitulo {
  color: white;
  padding-top: 186px;
  padding-left: 13.9%;
  position: relative;
}

.podcast {
  position: relative;
  margin: 26px auto 169px auto;
  width: 84.25vw;
  height: 536px;
}

.link2 {
  position: relative;
  height: 29px;
  top: 161px;
}

.link3 {
  width: 100%;
  height: 64px;
  position: relative;
  bottom: 169px;
}

.podcast1 {
  top: 0;
  left: 0;
}

.podcast2 {
  top: 0;
  right: 0;
}

.podcast3 {
  bottom: 0;
  left: 0;
}

.podcast4 {
  bottom: 0;
  right: 0;
}

.podcast1,
.podcast2,
.podcast3,
.podcast4 {
  position: absolute;
  height: 232px;
  width: 40.5%;
  border: 0px;
  overflow: hidden;
}

.podcast1:hover,
.podcast2:hover,
.podcast3:hover,
.podcast4:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.185);
  transition: ease-out .25s;
}

.s3-general {
  height: 491.4px;
  position: relative;
}

.s3-container {
  position: absolute;
  top: 20.4px;
  left: 47.63888888888889%;
  margin-bottom: 24px;
}

.s3-subtitulo {
  margin-bottom: 24px;
}

.phone {
  height: 660px;
  position: absolute;
  bottom: 0;
  right: 57.845%;
}

.s4-subtitulo {
  margin: 64px 0px 36px 200px;
}

.galeria {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.galeria .estelar {
  width: 33.3333333%;
  min-width: 350px;
  flex-grow: 1;
}

.s5-general {
  display: flex;
  flex-direction: column;
}

.s5-general .separador {
  height: 4rem;
}

.s5-general .s5-subtitulo {
  margin-left: 13.6vw;
}

.s5-general .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 69px 0px 34px 0px;
}

.s5-general .icon-container .iconfont {
  font: 600 24px "IBM Plex Sans", sans-serif;
  color: "IBM Plex Sans", sans-serif;
  text-align: center;
  margin-top: 25px;
}

.s5-general .icon-container .svgg {
  margin: 0 78px;
  width: 40%;
  height: 40%;
}

.s6-general {
  height: 518px;
  position: relative;
}

.s6-general .clip-pathfinal {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s6-general .s6-subtitulo {
  color: white;
  margin-top: 213px;
}

.s6-general .button-final {
  width: 345px;
  margin-top: 36px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer .cc {
  margin: 36px 0px 31px 100px;
}

footer .social {
  margin: 36px 82px 31px 0px;
  display: flex;
}

footer .social .social-link {
  cursor: pointer;
  margin: 0px 18px;
  font-size: 18px;
  color: #060a24;
}

footer .social #spotify,
footer .social #instagram,
footer .social #twitter,
footer .social #facebook,
footer .social #telegram {
  padding: 5px 0px;
}

footer .social #spotify:hover,
footer .social #instagram:hover,
footer .social #twitter:hover,
footer .social #facebook:hover,
footer .social #telegram:hover {
  transform: scale(1.125);
  transition: ease-out 0.1s;
}

footer .social #spotify:hover {
  color: #1ed760;
}

footer .social #instagram:hover {
  color: #c32aa3;
}

footer .social #twitter:hover {
  color: #1da1f2;
}

footer .social #facebook:hover {
  color: #1877f2;
}

footer .social #telegram:hover {
  color: #0088cc;
}

@media (max-width: 850px) {
  .logo {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 24px;
    height: 24px;
    margin: 0;
  }
  .subtitulo,
  #s1-titulo {
    font: 36px/42px "IBM Plex Sans", sans-serif;
  }
  .s2-subtitulo,
  .s6-subtitulo {
    color: white;
  }
  .parrafo {
    font: 14px/22px;
  }
  .button {
    font: 500 16px/22px;
    width: 90vw;
    margin: 0 auto 0 auto;
  }
  #s1-titulo {
    margin-top: 29px;
    margin-left: 4.98%;
    padding: 0;
  }
  .s1-parrafo {
    padding-left: 0;
    margin: 16px auto 36px auto;
    width: 90vw;
  }
  .saltodelinea {
    display: block;
  }
  .button-s1 {
    margin-bottom: 24px;
  }
  .clip-path {
    clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
  }
  .link-4 {
    all: unset;
    top: 180px;
  }
  .s2-subtitulo {
    padding: 35px 0px 10px 16px;
  }
  .podcast {
    all: unset;
    display: flex;
    flex-direction: column;
  }
  .podcast1,
  .podcast2,
  .podcast3,
  .podcast4 {
    width: 93.125vw;
    margin: 11px auto;
    position: relative;
  }
  .podcast4 {
    margin-bottom: 100px;
    z-index: 999;
  }
  .bottom {
    position: relative;
    bottom: 116px;
  }
  .s3-general {
    height: fit-content;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .phone {
    right: unset;
    position: unset;
    width: 360px;
    height: 519px;
    max-width: 130%;
  }
  .s3-container {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
  }
  .s3-subtitulo {
    margin: 27px auto 8px auto;
  }
}

@media (max-width: 850px) and (max-width: 480px) {
  .estelar {
    flex-grow: 0;
    width: 100%;
    min-width: 320px;
    height: auto;
  }
}

@media (max-width: 850px) and (max-width: 360px) {
  .s3-subtitulo,
  .s4-subtitulo {
    margin: unset;
    width: 288px;
    height: 84px;
  }
}

@media (max-width: 850px) {
  .s4-general {
    display: flex;
    flex-direction: column;
  }
  .s4-subtitulo {
    margin: 0 auto 14px auto;
  }
  .separador {
    height: 48px;
  }
  .s5-subtitulo {
    margin: 0 auto;
  }
  .icon-container {
    flex-direction: column;
    margin-top: 24px;
  }
  .icon-container .inner-container {
    margin-bottom: 52px;
  }
  .icon-container .inner-container:first-child {
    margin-bottom: 36px;
  }
  .icon-container .inner-container:last-child {
    margin-bottom: 0;
  }
  .icon-container .inner-container .svgg {
    width: 104px;
    height: 104px;
  }
  .icon-container .inner-container .iconfont {
    margin-top: 13px;
  }
  .s6-general {
    height: unset;
    height: 348px;
  }
  .s6-general .s6-subtitulo {
    width: min-content;
    margin-top: 64px;
  }
  .s6-general .button-final {
    margin-top: 36px;
    margin-bottom: 8px;
  }
  footer {
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  footer .cc {
    margin: 24px auto 0 auto;
  }
  footer .social {
    margin: 16px auto 30px auto;
  }
}

#input-hamb,
.label-hamb {
  position: absolute;
  top: 16px;
  right: 32px;
  width: 18px;
}

input {
  display: none;
}

.linea {
  background-color: #030303;
  width: 100%;
  height: 2px;
  position: relative;
  display: none;
  margin-bottom: 3px;
}

@media (min-width: 200px) and (max-width: 850px) {
  .linea,
  label.label-hamb {
    display: block;
  }
  .navigator {
    height: 44px;
  }
  .items-container {
    display: none;
  }
  header nav input[type="checkbox"]:checked ~ ul {
    display: block;
    height: fit-content;
    position: relative;
    background-color: #0000ff;
    width: 100%;
    top: 44px;
    z-index: 10000000000000000000000;
  }
  .navigator .items-container li {
    margin-top: unset;
    margin-bottom: 24px;
  }
  .navigator .items-container li:first-child {
    margin-top: 16px;
  }
  .navigator .items-container li a {
    color: white;
  }
  #episodios {
    transform: translateY(-100px);
    z-index: -5;
  }
  #nosotros {
    transform: translateY(110px);
  }
  #topicos {
    transform: translateY(40px);
  }
  header nav input[type="checkbox"]:checked ~ label .sp1 {
    opacity: 1;
    transform: rotate(45deg) translateX(3px) translateY(2px);
  }
  header nav input[type="checkbox"]:checked ~ label .sp2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header nav input[type="checkbox"]:checked ~ label .sp3 {
    transform: rotate(-45deg) translateX(5.3px) translateY(-4px);
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transform: scale(1);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
  background: slategrey;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:active {
  background: #637180;
  border-radius: 10px;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}
