// SUBTITULO
.s4-subtitulo {
  margin: 64px 0px 36px 200px;
}

// CONTAINER GALERIA
.galeria {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  // IMÁGENES GALERIA
  .estelar {
    width: 33.3333333%;
    min-width: 350px;
    flex-grow: 1;
  }
}
