    //GENERAL
    .s3-general {
      height: 491.4px;
      position: relative;
    }

    // SUBTITULO 'DE DÓNDE VENIMOS' Y PÁRRAFO
    .s3-container {
      position: absolute;
      top: 20.4px;
      left: 47.63888888888889%;
      margin-bottom: 24px;
    }

    .s3-subtitulo {
      margin-bottom: 24px;
    }

    // IMÁGEN CELULAR 
    .phone {
      height: 660px;
      position: absolute;
      bottom: 0;
      right: 57.845%;
    }