// GENERAL 
.s5-general {
  display: flex;
  flex-direction: column;

  .separador {
    height: 4rem;
  }

  // SUBTITULO 'TEMAS' 
  .s5-subtitulo {
    margin-left: 13.6vw;
  }

  // CONTAINER DE LOS ICONOS  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 69px 0px 34px 0px;

    // FUENTE DE LOS ICONOS 
    .iconfont {
      font: 600 24px $sans;
      color: $sans;
      text-align: center;
      margin-top: 25px;
    }

    // ICONOS 
    .svgg {
      margin: 0 78px;
      @include wheight(40%);

    }
  }

}